version: "3"

services:
  app:
    build:
      context: ./docker/php
      args:
        OCTANE_MAX_REQUESTS: ${OCTANE_MAX_REQUESTS:-1}
    ports:
      - '9000:9000'
    volumes:
      - ./web:/var/www/laravel
    depends_on:
      - db
      - redis

  nginx:
    build:
      context: ./docker/nginx
    ports:
      - '8001:80'
    volumes: 
      - ./web:/var/www/laravel
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on: 
      - app

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: laravel
      MYSQL_USER: docker
      MYSQL_PASSWORD: docker
      TZ: 'Asia/Tokyo'
    volumes:
      - ./docker/mysql/data:/var/lib/mysql
      - ./docker/mysql/my.cnf:/etc/mysql/conf.d/my.cnf
      - ./docker/mysql/sql:/docker-entrypoint-initdb.d
    ports:
      - 3306:3306
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci

  redis:
    image: redis:7.0
    volumes:
      - ./docker/redis:/data
    ports:
      - '6379:6379'
